.addimg-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(38, 126, 111, 0.41);
    background: linear-gradient(to right, #22b4c1cc, #0991ba);
    border-radius: 5px;
  }


.inpdddut[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background: transparent;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.inpdddut[type="button"] {
    padding: 10px 20px;
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inpdddut[type="button"]:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.district-select{
 
    padding: 10px 20px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.district-option{
    padding: 10px 20px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #22b3c1;
}