.addimg-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to right, #22b4c1cc, #0991ba);
    border-radius: 5px;
  }


.inpdddut[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #1aa3bb;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.inpdddut[type="submit"] {
    padding: 10px 20px;
    background-color: #22b4c1cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inpdddut[type="submit"]:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
    